{% extends "base.html" %}
{% block title %}Новый абонент{% endblock %}

{% block content %}
<h2>Создать нового абонента</h2>

<div class="form-block">
    <label>Фамилия</label>
    <input type="text">

    <label>Имя</label>
    <input type="text">

    <label>Отчество</label>
    <input type="text">

    <label>Город</label>
    <input type="text">

    <label>Улица</label>
    <input type="text">

    <label>Дом</label>
    <input type="text">

    <label>Квартира</label>
    <input type="text">

    <label>Площадь квартиры (м²)</label>
    <input type="number">

    <label>Количество комнат</label>
    <input type="number">

    <label>Лицевой счёт</label>
    <input type="text">

    <button class="btn">СОЗДАТЬ АБОНЕНТА</button>
</div>
{% endblock %}
