{% extends "base.html" %}
{% block title %}Справки{% endblock %}

{% block content %}
<h2>Справки</h2>

<table>
    <thead>
    <tr>
        <th>Код</th>
        <th>Название справки</th>
        <th>Назначение</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>01</td>
        <td>РАСЧЁТ ВЗЫСКИВАЕМОЙ СУММЫ</td>
        <td>для суда</td>
        <td><button class="btn" onclick="location.href='report_court.html'">ОТКРЫТЬ</button></td>
    </tr>
    <tr>
        <td>02</td>
        <td>Справка о задолженности</td>
        <td>для абонента</td>
        <td><button class="btn">ОТКРЫТЬ</button></td>
    </tr>
    </tbody>
</table>

<div class="box-border">
    <p>Выберите период для справки:</p>
    <label>Дата начала: <input type="date" style="border:2px solid black; padding:4px;"></label><br><br>
    <label>Дата окончания: <input type="date" style="border:2px solid black; padding:4px;"></label><br><br>
    <button class="btn">Сформировать</button>
</div>
{% endblock %}
